body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  overflow: scroll;
}

.movie {
  padding: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.smoke-screen {
  height: 100vh;
  width: 100%;
  background: #111;
  opacity: .9;
  position: fixed;
  top: 0;
  left: 0;
}

.poster img {
  width: 300px;
  height: 450px;
}

.movieInfo {
  padding-left: 40px;
  color: white;
}

.information > p {
  color: #b7c7bd;
}

.title {
  margin-top: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1.1em;
  font-weight: 600;
  display: inline-block;
}

.release-date {
  opacity: 0.6;
  font-size: 1.7em;
  font-weight: 300;
}

.information {
  line-height: 1.3em;
}

.featured-crew {
  color: #ffffff;
  list-style-type: none;
  line-height: 1.4em;
  display: flex;
  text-align: left;
  padding: 0;
  flex-wrap: wrap;

  li{
    width: 50%;
    text-align: left;
    flex-basis: 33%;
    padding-right: 20px;
    margin-top: 20px;
  }
}

li p {
  margin: 0;
}

.genres button {
  margin-right: 10px;
}

.cast-and-crew {
  h3 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.4em;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    z-index: 1;
  }

  img {
    width: 170px;
    height: 240px;
    margin-bottom: 40px;
    border: 5px solid #ffffff;
    border-radius: 5px;
  }
}

.cast-info {
  color: #b7c7bd;
  position: absolute;
  top:0px;
  text-align: center;
  width: 170px;
  height: 240px;
  display: block;
  z-index: 1;

  div {
    visibility: hidden;
  }

  &:hover {
    border: 5px solid #00FC87;
    border-radius: 5px;
    opacity: .9;
    background: #111111;

    div {
      visibility: visible;
    }
  }
}

.entertainment {
  height: 290px;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  div {
    display: inline-block;
  }

  .backdrop-image img{
    width: 533px;
  }

  .poster-image img{
    width: 200px;
  }

  .recommend {
    color: white;
    img{
      width: 420px;
      height: 235px;
      margin-right: 15px;
    }
    span {
      float: right;
      padding-right: 20px;
    }
  }

  img {
    height: 275px;
  }

  .video iframe{
    height: 275px;
    width: 533px;
  }
}

.entertainment-header {
  color: #b7c7bd;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-weight: 600;
  div {
    //text-decoration-color: #00FC87;
    &:hover {
      cursor: pointer;
      text-decoration: line-through;
      text-decoration-style: solid;
      text-decoration-color: #00FC87;
    }
  }
}

