<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<a href="http://localhost:3000/facebook-oauth/facebook">facebook</a>
<a href="http://localhost:3000/google-oauth/google">google</a>
</body>
</html>