.homeDispL {
  background: black;
  height: 380px;
  position: relative;
  overflow: hidden;
}

.homeDispS {
  background: black;
  height: 190px;
  position: relative;
  overflow: hidden;
}

.row > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-sm-3 h3{
  font-size: 1.4em;
}

.col-sm-2 h3{
  font-size: 1.1em;
}

h3 {
  margin-top: 21px;
  margin-bottom: 10.5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  text-shadow: -2px 2px 0px #333;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.homeDispL:hover > a , .homeDispS:hover > a ,.col-sm-4:hover > a ,.col-sm-3:hover > a ,.col-sm-2:hover > a{
  filter: blur(2px);
  transition: filter .5s;
}

.homeDispL:hover > .info , .homeDispS:hover > .info , .col-sm-4:hover > .info{
  bottom: 74px;
}

.info {
  font-size: 80%;
  padding: 10px 15px;
  text-shadow: -2px 2px 0px #333;
  font-weight: 400;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.42857;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  transition: all .3s ease-out;
  bottom: 0;
  min-height: 74px;
}

body{
  background-color: #f4f4f4;
}